h1, h2, h3, h4, h5, h6 {
	margin-left: .25em;
}
a {
	color:blue;
}
a:visited {
	color: purple;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: black;
}
.navbar-default .navbar-nav > li > a {
	color: #444444;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}